[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "OOP-6/googletest"]
	path = OOP-6/googletest
	url = https://github.com/google/googletest
[submodule "OOP-6/tests/googletest"]
	path = OOP-6/tests/googletest
	url = https://github.com/google/googletest
