extends template 

block vars 
	-
		var characteristics = [
			'Длина — 305,0 метра.',
			'Длина по ватерлинии — 270 метров.',
			'Ширина наибольшая — 72 метра.',
			'Ширина по ватерлинии — 35,0 метра.',
			'Осадка — 10,0 метра.',
			'Стандартное водоизмещение — 43 тысячи тонн.',
			'Полное водоизмещение — 55 тысяч тонн.',
			'Максимальное водоизмещение — 58,6 тысячи тонн.'
		]

	-
		var generator = [
			'Паровые турбины — 4 × 50 тысяч лошадиных сил.',
			'Количество котлов — 8.',
			'Количество винтов — 4.',
			'Мощность турбогенераторов — 9 × 1500 киловатт.',
			'Максимальная скорость — 29 узлов.',
			'Дальность хода на максимальной скорости — 3850 миль при скорости 29 узлов.',
			'Экономичная скорость — 18 узлов.',
			'Максимальная дальность хода — 8000 миль при скорости 18 узлов.',
			'Автономность — 45 суток.'
		]

	-
		var arms = [
			'14 палубных истребителей Су-33 (и ещё 7 Су-33 находятся на хранении).',
			'10 палубных истребителей МиГ-29К.',
			'2 палубных учебно-боевых истребителя МиГ-29КУБ.',
			'2 учебно-тренировочных самолёта Су-25УТГ.',
			'15 многоцелевых корабельных вертолётов Ка-27/Ka-27ПС.',
			'2 вертолёта радиолокационного дозора Ка-31.',
			'12× ПКРК 4К80 «Гранит».',
			'24× ПУ ЗРК «Кинжал» (192 ракеты).',
			'8× ЗРАК 3М87 «Кортик» (256 ракет).',
			'2× РБУ-12000 «Удав» (60 глубинных бомб).',
			'6× АК-630.'
		]

	-
		var crew = [
			'Экипаж — 1960 человек.',
			'Авиаперсонал — 626 человек.',
			'Командный состав — 55 человек.',
		]

block header-site 
	+display_header_site("")

block header-page
	+display_header_page('img/header2.jpeg', 'Адмирал Кузнецов')

block content
	p.h Общая информация
	p «Адмира́л Фло́та Сове́тского Сою́за Кузнецо́в» — советский и российский авианесущий крейсер проекта 1143.5, 
		|единственный авианесущий корабль Военно-морского флота России, флагман ВМФ России и Северного флота. 
		|Построен в Николаеве на Черноморском судостроительном заводе. 
		|Спущен на воду в 1985 году. 
	p Предназначен для поражения крупных надводных целей, защиты морских соединений от нападений вероятного противника с использованием 
		|авианосцев и большого количества подводных лодок; имеет также задачу поддержки десантных операций.
		|Рассчитан на базирование и обслуживание 28 самолётов и 24 вертолётов. 
		|Авиапарк палубной авиации России по количеству самолётов и вертолётов в несколько раз больше возможностей авианосца по их размещению, 
		|поэтому состав авиагруппы меняется в зависимости от задач. 
		|Также авианосец несёт 12 пусковых установок 4К-80 тяжёлых ракет «Гранит».
		|Имеет длину 306,45 метров.
	p.h Технические характеристики

block gallery
	+display_big_gallery_block('Общие характеристики', 'img/admiral1.jpg', characteristics)
	+display_big_gallery_block('Энергоустановка', 'img/admiral2.jpg', generator)
	+display_big_gallery_block('Вооружение', 'img/admiral3.jpg', arms)
	+display_big_gallery_block('Экипаж', 'img/admiral4.jpg', crew)