extends template

block vars
    -
        var data = [
            ['USS Энтерпрайз', '1', 'Авианосец', '342', '94.781', '0', '0', '0', '0', '1', '0', 'США'], 
            ['Джеральд Р. Форд', '1', 'Авианосец', '337', '100.000', '1', '0', '13', '0', '0', '0', 'США'], 
            ['Нимиц', '10', 'Авианосец', '332,8', '102.00', '10', '0', '0', '0', '0', '0', 'США'], 
            ['Китти Хок', '3', 'Авианосец', '332', '84.914', '0', '0', '0', '1', '2', '0', 'США'], 
            ['Форрестол', '4', 'Авианосец', '326,1', '82.402', '0', '0', '0', '0', '4', '0', 'США'],
            ['USS Джон Ф. Кеннеди', '1', 'Авианосец', '321', '82.655', '0', '0', '0', '0', '1', '0', 'США'], 
            ['Фуцзянь', '1', 'Авианосец', '316', '80.000', '0', '0', '1', '0', '0', '0', 'Китай'], 
            ['Шаньдун', '1', 'Авианосец', '315', '70.000', '1', '0', '0', '0', '0', '0', 'Китай'], 
            ['Мидуэй', '3', 'Авианосец', '305', '64.000', '0', '0', '0', '0', '2', '1', 'США'], 
            ['Адмирал Кузнецов', '2', 'Авианосец', '304,5', '67.000', '1', '1', '0', '0', '0', '0', 'Россия, Китай'],
            ['HMS Каледония', '1', 'Океанский лайнер', '291', '56.551', '0', '0', '0', '1', '0', '0', 'Великобритания'], 
            ['Адмирал Горшков', '1', 'Авианосец', '284', '45.400', '1', '0', '0', '0', '0', '0', 'Россия'], 
            ['Королева Элизабет', '2', 'Авианосец', '284', '65.000', '2', '0', '0', '0', '0', '0', 'Великобритания'], 
            ['Киев', '3', 'Авианосец', '273,1', '43.220', '0', '0', '0', '0', '1', '2', 'Россия'], 
            ['Лексингтон', '2', 'Авианосец', '270,7', '43.055', '0', '0', '0', '2', '0', '0', 'США'],
            ['Айова', '4', 'Линкор', '270,54', '58.000', '0', '0', '0', '0', '0', '4', 'США'], 
            ['Синано', '1', 'Авианосец', '265,8', '71.890', '0', '0', '0', '1', '0', '0', 'Япония'], 
            ['Эссекс', '24', 'Авианосец', '265,8', '36.380', '0', '0', '0', '0', '20', '4', 'США'], 
            ['Клемансо', '2', 'Авианосец', '265', '32.800', '0', '0', '0', '0', '2', '0', 'Франция, Бразилия'], 
            ['Ямато', '2', 'Линкор', '263', '72.809', '0', '0', '0', '2', '0', '0', 'Япония'],
            ['Граф Цеппелин', '1', 'Авианосец', '262,5', '33.550', '0', '0', '0', '1', '0', '0', 'Германия'], 
            ['HMS Худ', '1', 'Линкор', '262,3', '47.430', '0', '0', '0', '1', '0', '0', 'Великобритания'], 
            ['INS Викрант', '1', 'Авианосец', '262', '40.000', '1', '0', '0', '0', '0', '0', 'Индия'], 
            ['Шарль де Голль', '1', 'Авианосец', '261,5', '42.000', '1', '0', '0', '0', '0', '0', 'Франция'], 
            ['Акаги', '1', 'Авианосец', '260,7', '41.300', '0', '0', '0', '1', '0', '0', 'Япония'],
            ['Тайхо', '1', 'Авианосец', '260,6', '37.270', '0', '0', '0', '1', '0', '0', 'Япония'], 
            ['Сёкаку', '2', 'Авианосец', '257,5', '32.105', '0', '0', '0', '2', '0', '0', 'Япония'], 
            ['Америка', '3', 'Десантный корабль', '257', '45.000', '2', '0', '1', '0', '0', '0', 'США'], 
            ['Уосп', '8', 'Десантный корабль', '257', '40.500', '7', '0', '0', '0', '1', '0', 'США'], 
            ['Тарава', '5', 'Десантный корабль', '254', '39.400', '2', '0', '0', '1', '2', '0', 'США'],
            ['Киров', '4', 'Линкор', '252', '28.000', '1', '1', '0', '0', '2', '0', 'Россия'], 
            ['Йорктаун', '3', 'Авианосец', '251,38', '25.500', '0', '0', '0', '2', '1', '0', 'США'], 
            ['Бисмарк', '2', 'Линкор', '251', '52.600', '0', '0', '0', '2', '0', '0', 'Германия'], 
            ['HMS Вэнгард', '1', 'Линкор', '248,2', '51.420', '0', '0', '0', '0', '1', '0', 'Великобритания'], 
            ['Идзумо', '2', 'Вертолётоносец', '248', '27.000', '1', '1', '0', '0', '0', '0', 'Япония'],
            ['Ришелье', '2', 'Линкор', '247,85', '47.548', '0', '0', '0', '0', '2', '0', 'Франция'], 
            ['Кага', '1', 'Авианосец', '247,65', '38.200', '0', '0', '0', '1', '0', '0', 'Япония'], 
            ['Аляска', '2', 'Крейсер', '246,43', '34.253', '0', '0', '0', '0', '2', '0', 'США'], 
            ['Одейшес', '2', 'Авианосец', '245', '50.786', '0', '0', '0', '0', '2', '0', 'Великобритания'], 
            ['Триест', '1', 'Вертолётоносец', '245', '38.000', '1', '0', '0', '0', '0', '0', 'Италия'],
            ['Кавур', '1', 'Авианосец', '244', '30.000', '1', '0', '0', '0', '0', '0', 'Италия'], 
            ['Реноун', '2', 'Линкор', '242', '37.400', '0', '0', '0', '1', '1', '0', 'Великобритания'], 
            ['Корейджес', '3', 'Авианосец', '239,8', '27.859', '0', '0', '0', '2', '1', '0', 'Великобритания'], 
            ['Литторио', '3', 'Линкор', '237,76', '45.236', '0', '0', '0', '1', '2', '0', 'Италия'], 
            ['Тип 075', '3', 'Вертолётоносец', '237', '40.000', '3', '0', '8', '0', '0', '0', 'Китай'],
            ['Шарнхорст', '2', 'Линкор', '235', '38.700', '0', '0', '0', '2', '0', '0', 'Германия'], 
            ['USS Рейнджер', '1', 'Авианосец', '234,4', '17.859', '0', '0', '0', '0', '1', '0', 'США'], 
            ['Анадолу', '1', 'Вертолётоносец', '232', '27.079', '1', '0', '2', '0', '0', '0', 'Турция'], 
            ['Хуан Карлос I', '1', 'Вертолётоносец', '230,82', '26.000', '1', '0', '0', '0', '0', '0', 'Испания'],
            ['Канберра', '2', 'Вертолётоносец', '230,82', '27.500', '2', '0', '0', '0', '0', '0', 'Австралия']
        ]
    -// На службе, в ремонте, строится, затонуло, списано, музей

block header-site 
    +display_header_site("Таблица")

block header-page 
    +display_header_page('img/header1.jpeg', 'Таблица самых длинных военных кораблей')

block content 
    +display_details()
    p.h Таблица
    div.with-scroll
        +display_table(data)