media-max-width = 865px

body
	font-family 'Montserrat'

div
	display flex
	width 100%
	&.header-site
		flex-direction: row
		height: 70px
		background #036
	&.header-page
		position relative
		width 100%
		height 500px
		margin-bottom 20px
	&.content 
		flex-direction column
		width 80%
		margin 0 auto
	&.gallery
		flex-direction row
		flex-wrap wrap
		justify-content space-between
		&#tables
			justify-content center
			vertical-align top
	&.with-scroll
		max-height 800px
		overflow auto
		margin-bottom 20px
	&.gallery-box
		flex-direction column
		width 48%
		margin 20px 0
		&#big
			width 100%
			max-height 600px



img
	width 100%
	height 100%
	object-fit cover
	&.header-page
		position absolute
		height 100%
		object-fit cover
		


span
	text-align center
	&.header-page-text
		z-index 100
		position absolute
		color white
		font-weight bold
		font-size 36pt
		width 80%
		left 10%
		top 37%
		background #00000045
		padding 8px
	&.gallery-text
		background #036
		color white
		font-size 20pt
		width 100%
		padding 0.5em


ul
	width 100%
	font-size 18pt
	text-align center
	&.header
		display inline-flex
		justify-content center
		height 100%
		flex-direction: row
		padding 0
	
p
	color #036
	text-align center
	font-size 18pt
	&.h
		font-size 24pt
		font-weight bold
		padding 15px 0

li
	color #036
	&.header
		display inline-flex
		font-weight bold
		justify-content: center
		align-items: center
		width 25%
		text-decoration: none
		&.marked
			text-decoration: underline
			text-decoration-color: white
			text-decoration-thickness: 2px
		&:hover
			background #039

a
	width 100%
	line-height 100%
	color white
	font-size: 18pt
	&#big
		font-size 20pt
	&:hover
		text-decoration: none
		color: white

details
	font-size 16pt
	text-align left
summary
	font-size 18pt
	font-weight bold
	color #036

table
	cellpadding 7
	color #036
	margin 10px 0
	width 30%
	text-align center
	&.big
		width 100%
		column-width 75px

tr
	&.head
		background-color #036
		color white
	&.bicolor
		height 2em
		&:nth-child(odd)
			background-color #0363

input
	align center

@media(max-width: media-max-width)
	div
		&.gallery-box
			width 100%
	span
		&.header-page-text
			font-size 28pt
	.header li
		width 40%
